

.hero {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    text-align: center;
    padding: 70px 0;
}

.main {
    background-color: white;
    padding: 70px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.score-container {
    display: flex;
    justify-content: center;
}

.score {
    font-size: 30px;
}

button {
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    font-size: 30px;
}

button:hover {
    background-color: aquamarine;
}

.rules-section {
    display: flex;
    margin-top: 200px;
    justify-content: center;
}


/* Toggle hide */
.hide {
    display: none;
}

.start-game {
    display: none;
}

.finnished-game {
    display: none;
}