.hero {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}


h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.score-container {
    display: flex;
    justify-content: center;
}

button {
    margin: 20px;
}


/* Toggle hide */
.hide {
    display: none;
}

.start-game {
    display: none;
}

.finnished-game {
    display: none;
}